atlas.png
build.exe
/build
font.png
game.sln
build.rdi
build.pdb
*.rdi
template-starter.rbg
/asset_workbench/fmod/.user
/asset_workbench/fmod/.unsaved
/asset_workbench/fmod/.cache
/.vs
generated_shader.odin